.dashboard-card {
     background-color: white;
     height: auto;
     width: auto;
     display: flex;
     /* justify-content: space-between; */
     align-items: center;
     border-radius: 1rem;
     padding: 1.4rem;
     filter: drop-shadow(0 20px 13px rgb(91 71 188 / 0.03)) drop-shadow(0 8px 5px rgb(91 71 188 / 0.08));
}

.dashboard-card > * + * {
     margin-left: 1rem;
}

.icon-border-green {
     display: flex;
     justify-content: center;
     align-items: center;
     border: 4px solid green;
     border-radius: 100%;
     height: 50px;
     width: 50px;
}

.icon-border-pink {
     border: 4px solid pink;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 100%;
     height: 50px;
     width: 50px;
}

.icon-border-purple {
     border: 4px solid rgb(255, 181, 255);
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 100%;
     height: 50px;
     width: 50px;
}



.card-data {
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     margin: 0 auto
}

.card-data-name {
     color: #949494;
     font-size: 0.875rem;
}

.card-data-stat {
     color: #949494;
     font-size: 1.25rem;
     font-weight: 600;
}