@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.registration-page, .login-page{
    background-color: aliceblue;
    color: black;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.registration-container{
    display: flex;
    flex-direction: row;
}

.logo-container{
    margin-left: 2vw;
    margin-top: 3.2vh;
}

.f-container{
    background-color: #EAEEFD;
    height: 100vh;
    width: 80vw;
    margin-left: 8vw;
    border-radius: 40px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
}

.f-container-inner{
    margin: auto;
    width: 60%;
    height: auto;
}

.f-container-header{
    margin-top: 4%;
}

.email-container{
height: 30vh;
margin-top: 3vh;
background-color: white;
border-radius: 7px;
border: 2px rgb(66, 65, 65) dotted;
}

.email-inner{
    text-align: center;
    margin-top: 12%;
    margin-left: 16%;
}

.email-inner p{
    display: block;
    width: 90%;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    
}

.login-btn{
    width: 100%;
    background-color: #1F419D;
    padding: 14px 0px 15px 0px;
    font-size: 1.4vw;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-top: 8vh;
}

.left-img-container{
    position: relative;
    margin-left: 30%;
    margin-top: 20%;
}

.left-text{
    color: #1F419D;
    font-size: 1.3vw;
    margin-top: 100%;
    width: 80%;
    margin-left: 5vw;
}

.n-index{
    z-index: 0;
    position: absolute;
}

.p-index{
    z-index: 1;
    position: absolute;
}

.p-container{
    display: flex;
    flex-direction: column;
}

.appointments-container{
margin-left: 50%;
}

.col-1{
    margin-left: -6vw;
}

.f-container-header h1{
font-style: normal;
margin-bottom: 1vh;
font-weight: 700;
font-size: 36px;
font-family: 'Poppins', sans-serif;
}

.f-container-header h3{
font-style: normal;
font-size: 18px;
font-family: 'Poppins', sans-serif;
}

.left-text h3 {
    width: 90%;
    font-family: 'Poppins', sans-serif;
}

.help-link {
color: #1F419D;
}

#help-text{
    margin-top: 1vh;
}

.header-2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 3VH;
}

/* .img-reg{
    width: 70%;
} */

.form-group-pair{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#form-pair{
    width: 45%;
}

.submit-btn{
    width: 100%;
    background-color: #1F419D;
    padding: 14px 0px 15px 0px;
    font-size: 1.4vw;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.upload-btn{
    width: 100%;
    background-color: #1F419D;
    padding: 14px 0px 15px 0px;
    font-size: 1.4vw;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-top: 4vh;
}


.file-uploader{
        height: 30vh;
        margin-top: 3vh;
        background-color: white;
        border-radius: 7px;
        border: 2px rgb(65, 46, 194) dotted;
}

.upload-inner{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    margin-top: 8%;
    line-height: 400%;
}

.upload-img {
    width: 15%;
    margin-left: 20%;
}

#bottom-row{
    display: flex;
    flex-direction: row;
}

.col-2{
    margin-left: 12%;
}