.appointment-page {
     display: grid;
     grid-template-columns: repeat(3, minmax(0, 1fr));
     gap: 1rem;
     padding: 0 0 0.5rem 0;
}

.appointment-page-header {
     grid-column: span 3 / span 3;
     margin-bottom: 1rem;
}

.appointment-page-content {
     grid-column: span 3 / span 3;
     width: 100%;
}

.appointment-page-content h4 {
     color: #747474;
     font-weight: medium;
     font-size: 1.2rem;
     line-height: 27px;
     /* identical to box height */

     letter-spacing: 1px;
     font-variant: all-small-caps;
}

.appointment-summary {
     background-color: white;
     width: auto;
     height: 5rem;
     display: grid;
     grid-template-columns: repeat(4, minmax(0, 1fr));
     justify-content: center;
     align-items: center;
     padding: 1.5rem 2.5rem;
     margin: 0.75rem 0;
     border-radius: 0.938rem;
}

.appointment-summary-item {
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: center;
     width: 90%;
}

.appointment-summary-item span {
     margin-right: 2rem;
     border: 4px solid rgb(255, 181, 255);
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 100%;
     height: 50px;
     width: 50px;
}

.appointment-summary-item div p {
     font-weight: 500;
     font-size: 14px;
     line-height: 21px;

     text-align: center;
     text-transform: capitalize;

     color: #949494;

}

.appointment-summary-item div h5 {
     font-weight: 700;
     font-size: 20px;
     line-height: 30px;
     text-align: center;

     color: #949494;
}


.item-bordered {
     border-left: 2px solid #E4E4E4;
     height: 70%;
}

.upcoming-appointments-header {
     display: flex;
     justify-content: space-between;
     margin-top: 2rem;
}

.upcoming-appointments-header input {
     border: 2px solid #1F419D;
     border-radius: 5px;
     background: transparent;
     color: #1F419D;
     padding: 0.57rem 0.938rem;
     width: 10.625rem;
     justify-content: center;
     align-items: center;
}

.upcoming-appointments {
     display: flex;
     
}