.d-card {
     width: auto;
     height: fit-content;
     border-radius: 1rem;
     padding: 1.5rem 2.5rem;
     background-color: white;
     filter: drop-shadow(0 20px 13px rgb(91 71 188 / 0.03)) drop-shadow(0 8px 5px rgb(91 71 188 / 0.08));
}

.doctor-details {
     display: flex;
     align-items: center;
     /* justify-content: space-between; */
     margin-bottom: 1rem;
}

.doctor-details img {
     height: 4rem;
     border-radius: 100%;
     margin-right: 1rem;
}

.details h3 {
     color: black;
}

.details p {
     font-size: 0.875rem;
     text-align: left;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 600;
     font-size: 14px;
     line-height: 21px;
     color: #949494;

}

.card-divider {
     margin: auto;
     width: 100%;
     border-bottom: 1px solid #ababab;
}


.doctor-stats {
     display: flex;
     flex-direction: column;
     margin-top: 1rem;
}

.stat {
     display: flex;
     justify-content: space-between;
}

.stat-name {
     color: #949494;
     font-weight: 500;
}

.stat-value {
     color: black;
     font-weight: 700;
}