.messages-page {
  padding: 0;
}

.messages-page-header {
  grid-column: span 3 / span 3;
  margin-bottom: 1rem;
}

.message-section {
  display: flex;
  width: 100%;
  /* background-color: white; */
  margin-left: -2.4%;
}

.message-section > * + * {
  margin-left: 2rem;
}

/* === CONVERSATIONS === */

.discussions {
  height: 89vh;
  /* width: 24%; */
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.20);
  border-radius: 0px 15px 15px 0px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  /* padding: 1rem 2rem; */
  /* display: inline-block; */
}

.discussion {
  width: 100%;
  height: 90px;
  background-color: #FAFAFA;
  border-bottom: solid 1px #E0E0E0;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 10px;
}

.discussions .search {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E0E0E0;
}

.discussions .search .searchbar {
  height: 40px;
  background-color: #FFF;
  width: 70%;
  padding: 0 20px;
  border-radius: 50px;
  border: 1px solid #EEEEEE;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.discussions .search .searchbar input {
  margin-left: 15px;
  height: 38px;
  width: 100%;
  border: none;
  font-family: 'Montserrat', sans-serif;
  ;
}

.discussions .search .searchbar *::-webkit-input-placeholder {
  color: #E0E0E0;
}

.discussions .search .searchbar input *:-moz-placeholder {
  color: #E0E0E0;
}

.discussions .search .searchbar input *::-moz-placeholder {
  color: #E0E0E0;
}

.discussions .search .searchbar input *:-ms-input-placeholder {
  color: #E0E0E0;
}

.discussions .message-active {
  width: 98.5%;
  height: 90px;
  background-color: #FFF;
  border-bottom: solid 1px #E0E0E0;
}

.photo {
  margin-left: 20px;
  display: block;
  width: 45px;
  height: 45px;
  background: #E6E7ED;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.online {
  position: relative;
  top: 30px;
  left: 35px;
  width: 13px;
  height: 13px;
  background-color: #8BC34A;
  border-radius: 13px;
  border: 3px solid #FAFAFA;
}

.desc-contact {
  height: 43px;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.discussion-list {
  overflow-y: auto;
}

.discussions .discussion .name {
  margin: 0 0 0 20px;
  font-size: 11pt;
  color: #515151;
}

.discussions .discussion .message {
  margin: 6px 0 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 9pt;
  color: #515151;
}

.timer {
  margin-left: 15%;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  padding: 3px 8px;
  color: #BBB;
}

.chat {
  width: 70%;
  background: white;
  display: flex;
  flex-direction: column;
}

.header-chat {
  background-color: #FFF;
  height: 90px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.100);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

.chat .header-chat .icon {
  margin-left: 30px;
  color: #515151;
  font-size: 14pt;
}

.chat-header-action-items {
  display: flex;
  align-items: center;
}

.chat-header-action-items > * + * {
  margin-left: 2rem;
}

.chat .header-chat .name {
  margin: 0 0 0 20px;
  text-transform: uppercase;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 1rem;
  font-weight: 600;
  color: #515151;
}

.chat .header-chat .right {
  position: absolute;
  right: 40px;
}

.chat .messages-chat {
  padding: 25px 35px;
  height: 80%
}

.chat .messages-chat .message {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.photo {
  display: block;
  width: 45px;
  height: 45px;
  background: #E6E7ED;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.chat .messages-chat .text {
  margin: 0 35px;
  background-color: #f6f6f6;
  padding: 15px;
  border-radius: 12px;
}

.text-only {
  margin-left: 45px;
}

.time {
  font-size: 10px;
  color: lightgrey;
  margin-bottom: 10px;
  margin-left: 85px;
}

.response-time {
  float: right;
  margin-right: 40px !important;
}

.response {
  float: right;
  margin-right: 0px !important;
  margin-left: auto;
  /* flexbox alignment rule */
}

.response .text {
  background-color: #e3effd !important;
}

.footer-chat {
  /* width: calc(65% - 66px); */
  height: 80px;
  display: flex;
  align-items: center;
  /* position: absolute; */
  bottom: 0;
  background-color: transparent;
  border-top: 2px solid #EEE;

}

.chat .footer-chat .icon {
  margin-left: 30px;
  color: #C0C0C0;
  font-size: 14pt;
}

.write-message {
  height: 70%;
  width: 80%;
  background: #DFE2E6;
  border: none;
  border-radius: 5px;
}

.send-button {
  height: 70%;
  /* width: 100px; */
  padding: 0 1.5rem;
  background-color: #1F419D;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-button > * + * {
  margin-left: 0.5rem;
}