.navbar-page-header {
     display: grid;
     grid-template-columns: repeat(3, minmax(0, 1fr));
}

.navbar-page-search-n-button {
     display: grid;
     grid-template-columns: repeat(6, minmax(0, 1fr));
     grid-column: span 2 / span 2;
     gap: 2rem;
}

.navbar-page-search {
     grid-column: span 4 / span 4;
}

.navbar-page-header button {
     height: 48px;
     padding: 12px 19px;
     background-color: #1F419D;
     border: 1.5px solid #1F419D;
     box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
     border-radius: 8px;
     cursor: pointer;
     grid-column: span 2 / span 2;
}

.button {
     background-color: #fff;
     border: none;
     color: white;
     padding: 15px;
     width: 40px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
   }
   
   .button5 {border-radius: 50%;}