
.analytics-card {
     width: auto;
     height: fit-content;
     border-radius: 1rem;
     padding: 1.5rem 2.5rem;
     background-color: white;
     filter: drop-shadow(0 20px 13px rgb(91 71 188 / 0.03)) drop-shadow(0 8px 5px rgb(91 71 188 / 0.08));

     display: grid;
     grid-template-columns: repeat(3, minmax(0, 1fr));
     gap: 2rem;
}

.analytics {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

/* .analytics h4 {
     font-weight: 400;
     font-size: 0.5rem;
     text-transform: capitalize;
     color: #6F6D6D;
     text-align: center;
     background-color: red;
} */
.a-label {
     font-weight: 600;
     font-size: 0.813rem;
     text-transform: capitalize;
     color: #6F6D6D;
     text-align: center;
}

.analytics-graph {
     width: 120px;
     height: 120px;
     background-color: #1F419D;
     margin: 0.625rem auto;
     border-radius: 100%;
}
.analytics-graph-1 {
     width: 120px;
     height: 120px;
     background-color: #E750A3;
     margin: 0.625rem auto;
     border-radius: 100%;
}

.analytics-graph-2 {
     width: 120px;
     height: 120px;
     background-color: #FFFA76;
     margin: 0.625rem auto;
     border-radius: 100%;
}

.analytics-graph-3 {
     width: 120px;
     height: 120px;
     background-color: #76BDFF;
     margin: 0.625rem auto;
     border-radius: 100%;
}

.inner-text{
    
          position: absolute;
          top: 100px;
          left: 135px;
}
.inner-text-1{
    
     position: absolute;
     top: 100px;
     left: 670px;
}

.inner-text-2{
    
     position: absolute;
     top: 100px;
     left: 405px;
}

.analytics-desc {
     font-weight: 500;
     font-size: 0.813rem;
     line-height: 16px;
     text-align: center;
     color: #636262;
}

 .inner{
     width: 70px;
     height: 70px;
     background: white;
     margin: 25px;
     border-radius: 50%;
 }