
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
  font-family: Poppin;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1F419D;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

button {
  cursor:pointer
}